<div class='footer'>
  <nav class="footer-navbar">
    <div class="footer-container-fluid">
      <div class="footer-brand">企業様へのご案内</div>
      <div class="footer-d-grid">
        <% if user_signed_in? %>
       <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 

      <button class="btn btn-primary me-md-2" type="button" href="#">Loout</button>
      <% else %>
      <%= link_to "Login", new_company_session_path, class: "btn btn-primary me-md-2", type: "button" %>
      <%= link_to "新規登録", new_company_registration_path, class: "btn btn-primary me-md-2", type: "button" %>
      <% end %>

      </div>
    </div>
  </nav>
</div>
