<header class='top-page-header'>

<nav class="navbar fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Idea plus</a>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="button" href="#">Loout</button>

  <button class="btn btn-primary me-md-2" type="button" href="#">Login</button>
  <//button class="btn btn-primary" type="button" href="#">新規登録</#button>

</div>
  </div>
</nav>
</header>