.main {
  color: $pink-100;
  height: calc(100vh - 100px);

}

/* 画面上部の「この商品あと何必要？」帯部分 */
.sub {
  width: 100vw;
  background-image: url('idea-plus.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

/* ピックアップカテゴリー部分 */