.registration-main {
  text-align: center; 
}

.form-wrap2 {
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.form-header {
  text-align:center;
}

.form-header-text2 {
  padding-top: 20px;
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #eda2ca;
  border: 1px solid #eda2ca;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}