<%= render "shared/header" %>

<div class='main'>

  <div class= 'sub'>
  <%= link_to image_tag("idea-plus.jpg", class:"sub-pict") %>
    <div class='main-title'>この商品あと何必要？</div>
    <input class="btn btn-primary" type="submit" value="アイディア募集する">
  </div>
  <div class='product-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class='subtitle'>
      アイディア募集商品
    </div>

    <div class='product-lists'>
      <%# if @product.each do |product| %>
      <div class='list'>
        <%# link_to produc_path(product.id) do %>
    <div class="card" style="width: 18rem;">
    <%= image_tag product.image.variant(resize: '500x500'), class: 'product-image' %>


    
    <%= image_tag("idea.jpg", class: "item-img") %>
    <div class="card-body">
    <%# product.name %>
    <h5 class="card-title">
      <%# product.title %>
      こたつの本体
    </h5>
    <p class="card-text">
      <%# product.discription%>
      こたつの本体に追加実装するなら、何が必要ですか？
    </p>
    </div>
  </div>
      <%# end %>
      </div>
  <%# end %>
    </div>
  </div>

</div>
<%#= render "shared/footer" %>
